.select-wrapper {
    position: relative;
    display: inline-block;
}

.select {
    width: 100%;
    padding: 15px 40px 15px 15px;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: #fdfdff;
    cursor: pointer;
    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}

.icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666;
    font-size: 18px;
}