.button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background-color: rgb(94, 196, 255);
    border: 1px solid rgb(94, 196, 255);
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(68, 186, 255);
}