.input-field {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 25px 0;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 15px;
    box-shadow: 0px 3px 7px -8px rgba(66, 68, 90, 1);
}