.input-field {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 25px 0;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 15px;
    box-shadow: 0px 3px 7px -8px rgba(66, 68, 90, 1);
    margin-bottom: 20px;
}

.input {
    width: 60%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: #fdfdff;
}

.add {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background-color: rgb(94, 196, 255);
    border: none;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.add:hover {
    background-color: rgb(68, 186, 255);
}