:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  background-color: #f9f9ff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
